.title-kartuli-absoluturi {
  font-family: "ALK Life", sans-serif;
}
.title-kartuli-relatiuri {
  font-family: "ALK-Rex Font";
}
.desc-latinuri-absoluturi {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.latinuri-relatiuri {
  font-family: "Roboto-black Italic";
}
